.contact-us {
    &__container {
        display: flex;
        gap: 20px;
    }
    &__media {
        flex: 0 1 50%;
    }
    &__media-mirror {
        transform: scaleX(-1);
    }
    &__img {
        aspect-ratio: 1;
        object-fit: cover;
    }
    &__panel {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
    &__head {
        display: flex;
        flex-direction: column;
    }
    &__subtitle {
        text-transform: uppercase;
        color: #737373;
        text-align: center;
    }
    &__title {
        text-transform: uppercase;
        color: #0A0A0A;
        margin: 12px 0 0 0;
        text-align: center;
    }
    &__text {
        color: #404040;
        margin-top: 20px;
        max-width: 480px;
        text-align: center;
        line-height: 1.3;
    }
    &__form {
        max-width: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    &__form-inner {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__fields {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__btn {
        min-width: 210px;
    }
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    &__error {
        display: none;
        color: #D92D20;
    }
    &_error {
        .input-field {
            &__error {
                display: block;
            }
        }
    }
}

.input {
    border: none;
    border-bottom: 1px solid #E5E5E5;
    padding: 12px 0;
    width: 100%;
    transition: .2s;
    &:focus {
        outline: none;
        border-color: #262626;
        color: #262626;
    }
}

.checkbox {
    cursor: pointer;
    &__input {
        visibility: hidden;
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        left: 9999px;
        &:checked ~ {
            .checkbox__fake {
                .checkbox {
                    &__icon {
                        opacity: 1;
                        transform: none;
                    }
                }
            }
        }
    }
    &__fake {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        border: 1px solid #E5E5E5;
        border-radius: 2px;
        background: transparent;
    }
    &__icon {
        width: 11px;
        height: 8px;
        object-fit: contain;
        opacity: 0;
        transition: opacity .1s;
        user-select: none;
    }
}

.checkbox-field {
    display: flex;
    align-items: start;
    gap: 12px;
    cursor: pointer;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    &__error {
        display: none;
        color: #D92D20;
    }
    &__text {
        line-height: 1.3;
        a {
            text-decoration: underline;
        }
    }
    &_error {
        .checkbox-field {
            &__error {
                display: block;
            }
        }
        .checkbox {
            &__fake {
                border-color: #D92D20;
            }
        }
    }
}

.uk-modal.uk-open {
    padding-top: 0px;
}
.uk-modal-dialog {
    width: 480px;
    padding: 48px 40px;
    border-radius: 4px;
}
[class*=uk-modal-close-] {
    top: 20px;
    right: 20px;
}
[class*=uk-modal-close-] svg {
    width: 20px;
    height: 20px;
}
.uk-modal {
    &__logo {
        text-align: center;
        margin-bottom: 16px;
    }
    &__logo path{
        fill: rgba(35, 31, 32, 1);
    }
    &__title {
        color: rgba(115, 115, 115, 1);
        margin-top: 0;
        margin-bottom: 14px;
        text-align: center;
        letter-spacing: 0.5px;
    }
    &__thanks {
        color: rgba(10, 10, 10, 1);
        text-align: center;
        margin-bottom: 16px;
    }
    &__text {
        text-align: center;
        color: rgba(64, 64, 64, 1);
        line-height: 18px;
        margin-bottom: 24px;
    }
    &__close {
        margin: auto;
        width: 210px;
    }
}