.breadcrumbs {
    line-height: 18px;
    letter-spacing: 3%;
    font-family: Noto;
    margin-bottom: 40px;
}
.breadcrumbs a {
    color: rgba(115, 115, 115, 1);
}
.breadcrumbs span{
    color: rgba(82, 82, 82, 1);
}
.breadcrumbs .separator {
    padding: 0 1px;
}